<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferret</title>
    
    <link rel="icon" href="{{!-- put an image link here for an icon --}}" type="image/x-icon" alt="koi-as icon"/>

    {{!-- cdn for css? --}}
</head>
<body>
    {{!-- nav bar --}}
    {{body}}
    {{!-- footer --}}
</body>
</html>